<% if book.errors.any? %>
  <h3><%= pluralize(book.errors.count, "error") %> prohibited this obj from being saved:</h3>
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>